<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Projection by TEMPLATED</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" th:href="@{/assets/css/list.css}" />
	<link rel="stylesheet" href="../static/assets/css/list.css" />
</head>

<body>

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="/" class="logo"><img style="object-fit: cover; width:2em" th:src="@{/images/logo.PNG}" /></a>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header>
				<h1><span th:text="${title}"></span> 목록</h1>
			</header>
		</div>
	</section>


	<!-- Three -->
	<section id="three" class="wrapper align-center">
		<div class="inner">
			<div class="flex flex-4">
				<article class="card" th:each="list : ${list}">
					<header>
						<h3 th:text="${list.phoneId}">폰아이디</h3>
					</header>
					<p th:text="${list.serialNumber}"></p>
					<p th:text="${list.modelName}"></p>
					<div class="module flex flex-3">
						<p th:if="${list.isY2K}">Y2K</p>
						<p th:if="${list.isClimateHumidity}">습온도계</p>
						<p th:if="${list.isHomecam}">홈캠</p>
					</div>
					<p class="rental" th:if="${list.rentalId != null}"> 대여중</p>
					<p th:if="${list.rentalId == null}">대여가능</p>
				</article>
			</div>
		</div>
	</section>

	<!-- Scripts -->
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/skel.min.js}"></script>
	<script th:src="@{/assets/js/util.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script>
		function hello() {
			const urlParams = new URL(location.href).searchParams;
			const name = urlParams.get('title');
			console.log(name)
		}
	</script>

</body>

</html>