<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Projection by TEMPLATED</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" th:href="@{/assets/css/list.css}" />
</head>

<body>

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="/" class="logo"><img style="object-fit: cover; width:2em" th:src="@{/images/logo.PNG}" /></a>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header>
				<h1><span th:text="${title}"></span> 목록</h1>
			</header>
		</div>
	</section>


	<!-- Three -->
	<section id="three" class="wrapper align-center">
		<div class="inner">
			<div class="flex flex-4">
				<article th:each="list : ${list}">
					<header>
						<h3 th:text="${list.phoneId}"></h3>
					</header>
					<p th:text="${list.modelName}"></p>
				</article>
				<article>
					<header>
						<h3>See the home anywhere<br />with old phone</h3>
					</header>
					<p>집에 있는 아이들이나 빈 집이 걱정되시나요?<br />당신은 무료로 홈캠을 설치하여 사용할 수 있습니다.<br />어디에 있든 집을 확인하고 안심하세요.</p>
				</article>
				<article>
					<header>
						<h3>Take a picture<br /> phone from 10 years ago</h3>
					</header>
					<p>예전 휴대폰 사진의 감성을 다시 한 번 느껴보세요.<br />특별한 프레임이 씌워진 사진을 찍어 감상할 수 있습니다.<br />사진 부스를 만들어 모두 함께 즐겨봐요.</p>
				</article>
				<article>
					<header>
						<h3>Take a picture<br /> phone from 10 years ago</h3>
					</header>
					<p>예전 휴대폰 사진의 감성을 다시 한 번 느껴보세요.<br />특별한 프레임이 씌워진 사진을 찍어 감상할 수 있습니다.<br />사진 부스를 만들어 모두 함께 즐겨봐요.</p>
				</article>
				<article>
					<header>
						<h3>Take a picture<br /> phone from 10 years ago</h3>
					</header>
					<p>예전 휴대폰 사진의 감성을 다시 한 번 느껴보세요.<br />특별한 프레임이 씌워진 사진을 찍어 감상할 수 있습니다.<br />사진 부스를 만들어 모두 함께 즐겨봐요.</p>
				</article>
			</div>
		</div>
	</section>

	<!-- Scripts -->
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/skel.min.js}"></script>
	<script th:src="@{/assets/js/util.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script>
		function hello() {
			const urlParams = new URL(location.href).searchParams;
			const name = urlParams.get('title');
			console.log(name)
		}
	</script>

</body>

</html>