<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Projection by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<!--    <link rel="stylesheet" href="assets/css/login.css" />-->
    <link rel="stylesheet" th:href="@{/assets/css/login.css}" />
</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="/" class="logo"><img style="object-fit: cover; width:2em" th:src="@{/images/logo.PNG}" /></a>
        </div>
    </header>
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>폰고지신계정으로 로그인</h1>
            </header>
            <div style="padding-left:9em; padding-right:9em" class="container-id" id="id-container">
                <br/><br/><br/>
                <label id="id-label">이메일</label>
                <input type="text" id="id-input">
            </div>
            <div style="padding-left:9em; padding-right:9em" class="container-pwd" id="pwd-container">
                <br/>
                <label id="pwd-label">비밀번호</label>
                <input type="text" id="pwd-input">
            </div>

            <footer style="text-align:left; margin-left:9em;">
                <br/><br/>
                <input type="button" href="#" class="blueBtn" id="login" disabled="disabled" value="로그인"/><br/><br/><br/>
                <a>ID 찾기</a><br/><br/>
                <a>비밀번호 바꾸기</a>
            </footer>
        </div>
    </section>

    <script>
        document.getElementById("id-input").onclick = function(){
            document.getElementById("id-container").classList.add('focus');
        };
        document.addEventListener('mousedown', function(e){
            var container = document.getElementById("id-input");
            if(!container.contains(e.target)){
                document.getElementById("id-container").classList.remove('focus');
                if(container.value==""){
                    document.getElementById("id-container").classList.remove('complete');
                }else{
                    document.getElementById("id-container").classList.add('complete');
                }
            }
        });

        document.getElementById("pwd-input").onclick = function(){
            document.getElementById("pwd-container").classList.add('focus');
        };
        document.addEventListener('mousedown', function(e){
            var container = document.getElementById("pwd-input");
            if(!container.contains(e.target)){
                document.getElementById("pwd-container").classList.remove('focus');
                if(container.value==""){
                    document.getElementById("pwd-container").classList.remove('complete');
                }else{
                    document.getElementById("pwd-container").classList.add('complete');
                }
            }
        });

        document.getElementById("id-input").addEventListener("input",function(e){
            var id = document.getElementById("id-input");
            var pwd = document.getElementById("pwd-input");
            if(id.value!="" && pwd.value!=""){
                document.getElementById("login").disabled=false;
            }else{
                document.getElementById("login").disabled=true;
            }
        });

        document.getElementById("pwd-input").addEventListener("input",function(e){
            var id = document.getElementById("id-input");
            var pwd = document.getElementById("pwd-input");
            if(id.value!="" && pwd.value!=""){
                document.getElementById("login").disabled=false;
            }else{
                document.getElementById("login").disabled=true;
            }
        });

        // 로그인 전송
        document.getElementById("login").addEventListener("click",function(e){
            var id = document.getElementById("id-input").value;
            var pwd = document.getElementById("pwd-input").value;

            const obj = {
                "email": id,
                "password": pwd
            };
            const data = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(obj)
            };
            $.ajax({
                // url : '/member/admin/login/',
                url : '/member/login/',
                type : 'POST',
                dataType : 'json',
                contentType : 'application/json',
                data :  JSON.stringify(obj),
                async : false,
                success : function (response){
                    // console.log("response", response)
                    sessionStorage.setItem("accessToken", response['accessToken'])
                    sessionStorage.setItem("refreshToken", response['refreshToken'])
                    location.href="list.html"
                },
                error : function (request, status, error){
                    alert('아이디와 비밀번호를 확인해 주세요');
                }
            })
            // fetch(`/member/admin/login/`, data)
            //     .then((response) => {
            //         response.json()
            //         console.log(response)
            //     })
            //     .then((data) => {
            //         console.log(data)
            //     })
        });
    </script>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/skel.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>