#modal{
	z-index : 1;
	background-color: rgba(0,0,0,.3);
	position:fixed;
	left:0;
	top: 0;
	width:100%;
	height:100%;
}

#modal>#content{
 	width:300px;
 	margin:100px auto;
 	padding:20px;
 	position: relative;
 	background-color:#fff;
 }

  #modal .close{
    position:absolute;
    top:4px;
    right:4px;
    font-size:20px;
    border:0;
    background-color: #fff;
  }
  #modal .close:hover,
  #modal .close:focus {
    color : #000;
    text-decoration: none;
    cursor :pointer;
  }