<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ssafy.phonesin">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-sdk tools:overrideLibrary="androidx.camera.view, androidx.camera.lifecycle, androidx.camera.camera2, androidx.camera.core"/>


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE " />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Phonesin"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.mobile.returnmobile.ReturnFinishActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mobile.returnmobile.ReturnAgentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mobile.returnmobile.ReturnAgentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mobile.returnmobile.ReturnVisitDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mobile.returnmobile.ReturnMobileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode=""
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="4c9d659a498fe1b0d16eaadc8b6d0bc9" />
    </application>
</manifest>