<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><img style="object-fit: cover; width:2em" src="images/logo.PNG" /></a>
					<nav id="nav">
						<button onclick ="location.href='elements.html'" class="blackBtn">login</button>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>폰고지신 다운로드</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-mobile"></span>
							<h3>Phone</h3>
							<p>donation and rental</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>Y2K Camera</h3>
							<p>Taking pictures, 10 years ago phone </p>
						</div>

						<div>
							<span class="icon fa-video-camera"></span>
							<h3>Homecam</h3>
							<p>see the house everywhere</p>
						</div>

					</div>

					<footer>
						<a href="#" class="button">DOWNLOAD</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="images/galaxyS7.jpg"/>
							</div>
							<header>
								<h3>See the home anywhere<br/>with old phone</h3>
							</header>
							<p>집에 있는 아이들이나 빈 집이 걱정되시나요?<br />당신은 무료로 홈캠을 설치하여 사용할 수 있습니다.<br />어디에 있든 집을 확인하고 안심하세요.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="images/galaxyS2.jpg"/>
							</div>
							<header>
								<h3>Take a picture<br /> phone from 10 years ago</h3>
							</header>
							<p>예전 휴대폰 사진의 감성을 다시 한 번 느껴보세요.<br/>특별한 프레임이 씌워진 사진을 찍어 감상할 수 있습니다.<br/>사진 부스를 만들어 모두 함께 즐겨봐요.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<div class="copyright">
			Made with: <a href="https://templated.co/">Templated.co</a>
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>